[submodule "QmlVlc"]
	path = deps/QmlVlc
	url = https://github.com/RSATom/QmlVlc.git
[submodule "deps/deps/firebreath"]
	path = deps/firebreath
	url = git://github.com/firebreath/FireBreath.git
[submodule "deps/libvlc-sdk"]
	path = deps/libvlc-sdk
	url = https://github.com/RSATom/libvlc-sdk.git
[submodule "deps/QuickLayer"]
	path = deps/QuickLayer
	url = https://github.com/RSATom/QuickLayer.git
