<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Component Guid="{CD86A8CC-8ECC-467A-B1BA-2ECCDC1301AA}" Id="c_QT">
				<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}"
				               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
				<File Id="Qt5Core.dll" Source="$(var.QTDIR)\bin\Qt5Core.dll" />
				<File Id="Qt5Gui.dll" Source="$(var.QTDIR)\bin\Qt5Gui.dll" />
				<File Id="Qt5Qml.dll" Source="$(var.QTDIR)\bin\Qt5Qml.dll" />
				<File Id="Qt5Quick.dll" Source="$(var.QTDIR)\bin\Qt5Quick.dll" />
				<File Id="libEGL.dll" Source="$(var.QTDIR)\bin\libEGL.dll" />
				<File Id="libGLESv2.dll" Source="$(var.QTDIR)\bin\libGLESv2.dll" />
				<File Id="Qt5Network.dll" Source="$(var.QTDIR)\bin\Qt5Network.dll" />
				<File Id="icudt52.dll" Source="$(var.QTDIR)\bin\icudt52.dll" />
				<File Id="icuin52.dll" Source="$(var.QTDIR)\bin\icuin52.dll" />
				<File Id="icuuc52.dll" Source="$(var.QTDIR)\bin\icuuc52.dll" />
				<File Id="d3dcompiler_47.dll" Source="$(var.QTDIR)\bin\d3dcompiler_47.dll" />
			</Component>
			<Directory Id="platforms" Name="platforms">
				<Component Guid="{3651B8CC-3A34-4177-ACD1-B8BDFE5D102D}" Id="c_QT_platforms">
					<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\platforms"
					               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
					<RemoveFolder On="uninstall" Id="u_QT_platforms" />
					<File Id="qwindows.dll" Source="$(var.QTDIR)\plugins\platforms\qwindows.dll" />
				</Component>
			</Directory>
			<Directory Id="qml" Name="qml">
				<Component Guid="{062CC037-EA3F-459C-9417-44875EEAF269}" Id="c_QT_qml">
					<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\qml"
					               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
					<RemoveFolder On="uninstall" Id="u_QT_qml" />
				</Component>
				<Directory Id="qml_QtQuick" Name="QtQuick">
					<Component Guid="{AB970230-A990-4514-863A-BF8052EBB2CA}" Id="c_QT_qml_QtQuick">
						<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\qml\QtQuick"
						               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
						<RemoveFolder On="uninstall" Id="u_QT_qml_QtQuick" />
					</Component>
					<Directory Id="qml_QtQuick_Layouts" Name="Layouts">
						<Component Guid="{42079E09-8F18-4FC9-A55C-696E811C70DE}" Id="c_QT_qml_QtQuick_Layouts">
							<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\qml\QtQuick\Layouts"
							               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
							<RemoveFolder On="uninstall" Id="u_QT_qml_QtQuick_Layouts" />
							<File Id="QtQuick_Layouts_qmldir" Source="$(var.QTDIR)\qml\QtQuick\Layouts\qmldir" />
							<File Id="QtQuick_Layouts_plugins.qmltypes" Source="$(var.QTDIR)\qml\QtQuick\Layouts\plugins.qmltypes" />
							<File Id="QtQuick_Layouts_qquicklayoutsplugin.dll" Source="$(var.QTDIR)\qml\QtQuick\Layouts\qquicklayoutsplugin.dll" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="qml_QtQuick.2" Name="QtQuick.2">
					<Component Guid="{06F01314-3CC7-4DAB-8CFC-F865054C7988}" Id="c_QT_qml_QtQuick.2">
						<RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\qml\QtQuick.2"
						               Name="QtUninstall" Type="string" Value="${Qt5Core_VERSION_STRING}" KeyPath="yes" />
						<RemoveFolder On="uninstall" Id="u_QT_qml_QtQuick.2" />
						<File Id="QtQuick.2_qmldir" Source="$(var.QTDIR)\qml\QtQuick.2\qmldir" />
						<File Id="QtQuick.2_plugins.qmltypes" Source="$(var.QTDIR)\qml\QtQuick.2\plugins.qmltypes" />
						<File Id="QtQuick.2_qtquick2plugin.dll" Source="$(var.QTDIR)\qml\QtQuick.2\qtquick2plugin.dll" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="QT">
			<ComponentRef Id="c_QT" />
			<ComponentRef Id="c_QT_platforms" />
			<ComponentRef Id="c_QT_qml" />
			<ComponentRef Id="c_QT_qml_QtQuick" />
			<ComponentRef Id="c_QT_qml_QtQuick_Layouts" />
			<ComponentRef Id="c_QT_qml_QtQuick.2" />
		</ComponentGroup>
	</Fragment>
</Wix>
